@mixin con-button() {
  width: 435px;
  height: 55px;
  z-index: 99;
  border: 1px solid #cc8342;
  cursor: pointer;
  background: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font: 300 21px/28px "SF Pro Display";
  color: #cc8342;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }
}

.contact_section {
  position: relative;
  margin-top: -215px;
  width: 100%;
  height: auto;
  z-index: 999;
  opacity: 1;
  background: #fff;

  padding-top: 40px;

  display: grid;
  grid-template-columns: 55% auto;

  .contact_form {
    position: relative;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    // width: 900px;

    h1 {
      font-size: 35px;
      font-weight: 300;
      font-family: "SF Pro Display";
      color: #252525;
      margin: 0 0 46px 0;
    }

    label {
      display: block;
      text-align: left;
      font: 400 16px/21px "SF Pro Display";
      color: #525252;
      opacity: 1;
      margin: 10px 0 10px 0;
    }

    #message {
      width: 98%;
      height: 100px;
      border: 1px solid #eeeeee;
      border-radius: 5px;
      color: #525252;
      font: 400 18px "SF Pro Display";
      &:focus {
        outline: none;
        border-color: $c-dexin;
      }
    }

    .contacts {
      display: grid;
      grid-template-columns: 6fr 6fr;
      grid-auto-rows: auto;
      grid-auto-flow: dense;

      .f-row {
        width: 100%;
        display: flex;
        flex-direction: column;

        h2 {
          text-align: left;
          font: 500 25px/33px "SF Pro Display";
          color: #0d0d0d;
        }

        input {
          width: 96%;
          border-radius: 5px;
        }

        .s-row {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          div {
            width: 49%;
          }
        }
      }
    }

    .order-summary {
      margin-top: 34px;
      @include con-button();
      margin-bottom: 55px;
    }
    .message-text {
      text-align: left;
      font: 500 25px/33px "SF Pro Display";
      color: #0d0d0d;
      margin: 30px 0 18px 0;
    }
  }

  .contact_info {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 435px;
      height: 435px;
    }
    .all-info {
      margin-top: 20px;
      width: 435px;
      text-align: left;
      color: #525252;
      font-family: "SF Pro Display";
    }
    //  ------------------------ -------------------------------- CHECKBOX   ---------------------------------------------------------

    .checkbox-all {
      position: relative;
      margin-top: 20px;
      max-width: 470px;
      display: flex;
      // background: #000;

      .checkbox-label {
        display: block;
        position: relative;
        margin: auto;
        cursor: pointer;
        font-size: 22px;
        line-height: 24px;
        height: 24px;
        width: 24px;
        clear: both;

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          &:checked ~ .checkbox-custom {
            background-color: #cc8342;
            transform: rotate(0deg) scale(1);
            opacity: 1;
          }
          &:checked ~ .checkbox-custom:after {
            transform: rotate(45deg) scale(1);
            opacity: 1;
            left: 4px;
            top: 1px;
            width: 6px;
            height: 12px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            background-color: transparent;
            border-radius: 0;
          }
        }
        span {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 17px;
          height: 17px;
          background-color: transparent;
          transition: all 0.3s ease-out;
          border: 2px solid #cc8342;
          border-radius: 3px;
          &:after {
            position: absolute;
            content: "";
            left: 12px;
            top: 12px;
            border-radius: 5px;
            border-width: 0 3px 3px 0;
            transition: all 0.3s ease-out;
          }
        }
      }

      span {
        width: 85%;
        display: inline;
        text-align: left;
        font: 500 14px/19px "SF Pro Display";
        color: #737373;
      }
    }
  }

  .send_req {
    margin-top: 30px;
    @include con-button();
    color: #fff;
    background: #cc8342;
  }
}

// ---------------- right side checkbox

.checkbox-first {
  position: relative;
  margin-top: 20px;
  max-width: 470px;
  display: none;

  .checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked ~ .checkbox-custom {
        background-color: #6a6a6a;
        transform: rotate(0deg) scale(1);
        opacity: 1;
      }
      &:checked ~ .checkbox-custom:after {
        transform: rotate(45deg) scale(1);
        opacity: 1;
        left: 4px;
        top: 1px;
        width: 6px;
        height: 12px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        background-color: transparent;
        border-radius: 0;
      }
    }
    span {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 17px;
      height: 17px;
      background-color: transparent;
      transition: all 0.3s ease-out;
      border: 1px solid #6a6a6a;
      border-radius: 3px;
      &:after {
        position: absolute;
        content: "";
        left: 12px;
        top: 12px;
        border-radius: 5px;
        border-width: 0 3px 3px 0;
        transition: all 0.3s ease-out;
      }
    }
  }

  span {
    position: absolute;
    left: 25px;
    top: 10px;
    width: 85%;
    text-align: left;
    font: 500 14px/19px "SF Pro Display";
    color: #2b2b2b;
    a {
      color: #28a4e5;
    }
  }
}

@media (max-width: 1249px) {
  .contact_section {
    margin-top: -155px;
  }
}

@media (max-width: 990px) {
  .contact_info {
    display: none !important;
  }
  .contact_section .contact_form {
    margin-left: 20px;
    margin-right: 20px;
  }
  .contact_section {
    grid-template-columns: 1fr;
  }

  .contact_section .send_req {
    margin: 20px auto;
    border-radius: 1px;
  }
  .contact_section .contact_form .order-summary {
    margin: 0px auto;
  }
  .checkbox-first {
    display: flex;
  }
}

@media (max-width: 764px) {
  .contact_form .contacts {
    grid-template-columns: 12fr !important;
  }
}
@media (max-width: 500px) {
  .contact_section {
    .send_req {
      width: 100%;
      font-size: 18px;
    }
    .order-summary {
      width: 100% !important;
      margin-bottom: 100px !important;
      font-size: 18px !important;
      img {
        position: absolute;
        left: 5px;
      }
    }

    .contact_form h1 {
      font-size: 25px;
      margin: 0;
    }
    .contact_form .contacts .f-row h2 {
      font-size: 20px;
      margin-top: 20px;
    }
    .contact_form label {
      font-size: 14px;
    }
    .contact_form .message-text {
      font-size: 20px;
    }
  }
}
