@mixin con-button() {
  width: 435px;
  height: 55px;
  z-index: 99;
  border: 1px solid $green;
  cursor: pointer;
  background: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font: 300 21px/28px "Fahkwang";
  color: $green;
  // text-transform: uppercase;

  &:focus {
    outline: none;
  }
}

.contact_section {
  position: relative;
  // margin-top: 100px;
  width: 83%;
  height: auto;
  z-index: 99;
  opacity: 1;
  // background: green;
  margin: 126px auto 200px auto;
  max-width: 1000px;



  // display: grid;
  // grid-template-columns: 55% auto;

  .contact_form {

    position: relative;
    display: flex;
    flex-direction: column;

    .all-info {
      padding-top: 10px;
      .all-info-list{
        display: flex;
        justify-content:start;

        .all-info-right {
          margin-left: 30%;
        }
      }

      p{
        font: 300 17px/29px "Fahkwang";
      }

      span {
        color: $green;
        padding-left:10px;
        background: $yellow;
      }
    }

    h1 {
      font-size: 35px;
      font-weight: 500;
      font-family: "Larken";
      color: $green;
      margin-bottom: 0px;
    }

    .lines {
      margin-top: 0px;
    }

    label {
      display: block;
      text-align: left;
      font: 400 16px/21px "Fahkwang";
      color: $green;
      opacity: 1;
      margin: 10px 0 10px 0;
    }

    #message {
      width: 98%;
      height: 100px;
      border: 3px solid #bbbbbb;
      border-radius: 5px;
      color: #525252;
      font: 400 18px "Fahkwang";
      &:focus {
        outline: none;
        border-color: $green;
      }
    }

    .contacts {
      display: grid;
      grid-template-columns: 6fr 6fr;
      grid-auto-rows: auto;
      grid-auto-flow: dense;

      .f-row {
        width: 100%;
        display: flex;
        flex-direction: column;

        h2 {
          text-align: left;
          font: 500 25px/33px "Larken";
          color: #0d0d0d;
        }

        input {
          width: 96%;
          border-radius: 5px;
        }

        .s-row {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          div {
            width: 49%;
          }
        }
      }
    }

    .checkbox-all {
      position: relative;
      margin-top: 30px;
      max-width: 470px;
      display: flex;
      justify-items: self-start;
      align-items: flex-start;
      // background: #000;

      .checkbox-label {
        display: block;
        position: relative;
        margin: auto;
        cursor: pointer;
        font-size: 22px;
        line-height: 24px;
        height: 24px;
        width: 38px;
        clear: both;

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          &:checked ~ .checkbox-custom {
            background-color: $green;
            transform: rotate(0deg) scale(1);
            opacity: 1;
          }
          &:checked ~ .checkbox-custom:after {
            transform: rotate(45deg) scale(1);
            opacity: 1;
            left: 4px;
            top: 1px;
            width: 6px;
            height: 12px;
            border: 3px solid #fff;
            border-width: 0 2px 2px 0;
            background-color: transparent;
            border-radius: 0;
          }
        }
        span {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 17px;
          height: 17px;
          background-color: transparent;
          transition: all 0.3s ease-out;
          border: 2px solid $green;
          border-radius: 3px;
          &:after {
            position: absolute;
            content: "";
            left: 12px;
            top: 12px;
            border-radius: 5px;
            border-width: 0 3px 3px 0;
            transition: all 0.3s ease-out;
          }
        }
      }
      span.checkbox-terms {
        font-size: 12px;
        font-style: italic;
      }

      span {
        display: inline;
        text-align: left;
        font: 500 14px/19px "Fahkwang";
        color: #737373;
        margin-left: 0;
      }
    }

    .order-summary {
      margin-top: 34px;
      @include con-button();
      margin-bottom: 0px;

      border: 1px solid $green;
      background-color:$green;
      color:$grey;

      &:hover {
        transform: scale(1.03);
        transition: all 0.2s ease-in-out;
      }
      &:active {
        transform: scale(0.98);
        transition: all 0.2s ease-in-out;
      }
    }
    .message-text {
      text-align: left;
      font: 500 25px/33px "Fahkwang";
      color: #0d0d0d;
      margin: 30px 0 18px 0;
    }
  }

  .contact_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .jeverly-id-text {
      color: #525252;
      font: 500 20px/26px "Larken";
    }
    img {
      width: 240x;
      height: 240px;
      margin-left: 110px;
    }
    // .all-info {
    //   width: 435px;
    //   text-align: left;
    //   color: #525252;
    //   font-family: "Fahkwang";
    //   h3 {
    //     margin-top: 0;
    //     font-size: 20px;
    //   }
    //   p {
    //     padding: 3px 0;
    //     font: 500 25px/33px "Fahkwang";
    //   }
    //   .under-price {
    //     width: 60%;
    //     border: 1px solid $c-dexin;
    //     font-size: 9px;
    //     margin-top: 2px;
    //   }
    // }
    //  ------------------------ -------------------------------- CHECKBOX   ---------------------------------------------------------
  }

  .send_req {
    margin-top: 30px;
    @include con-button();
    color: $green;
    background: $yellow;
    border-radius: 0px;
    border: 1px solid $yellow;
    &:hover {
      transform: scale(1.03);
      transition: all 0.2s ease-in-out;
    }
    &:active {
      transform: scale(0.98);
      transition: all 0.2s ease-in-out;
    }
  }
}

#contact-form {
  margin: 0 auto;
  // background-color: #28a4e5;
  max-width: 1000px;

  h1 {
    margin-top:30px;
    margin-bottom: 0px;
  }
  .lines {
    margin-top: 20px;
  }
}

// ---------------- right side checkbox

.checkbox-first {
  position: relative;
  margin-top: 20px;
  max-width: 470px;
  display: none;

  .checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked ~ .checkbox-custom {
        background-color: #6a6a6a;
        transform: rotate(0deg) scale(1);
        opacity: 1;
      }
      &:checked ~ .checkbox-custom:after {
        transform: rotate(45deg) scale(1);
        opacity: 1;
        left: 4px;
        top: 1px;
        width: 6px;
        height: 12px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        background-color: transparent;
        border-radius: 0;
      }
    }
    span {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 17px;
      height: 17px;
      background-color: transparent;
      transition: all 0.3s ease-out;
      border: 1px solid #6a6a6a;
      border-radius: 3px;
      &:after {
        position: absolute;
        content: "";
        left: 12px;
        top: 12px;
        border-radius: 5px;
        border-width: 0 3px 3px 0;
        transition: all 0.3s ease-out;
      }
    }
  }

  span {
    position: absolute;
    left: 25px;
    top: 10px;
    width: 85%;
    text-align: left;
    font: 500 14px/19px "Fahkwang";
    color: #2b2b2b;
    a {
      color: #28a4e5;
    }
  }

  // // bootbox style
  // .btn-info {
  //   color: $yellow;
  //   background-color: $green;
  //   border-color: $green;
  // }


}

// @media (max-width: 1249px) {
//   .contact_section {
//     margin-top: -155px;
//   }
// }

// @media (max-width: 990px) {
//   .contact_info {
//     display: none !important;
//   }
//   .contact_section .contact_form {
//     margin-left: 20px;
//     margin-right: 20px;
//   }
//   .contact_section {
//     grid-template-columns: 1fr;
//   }

//   .contact_section .send_req {
//     margin: 20px auto;
//     // border-radius: 1px;
//   }
//   .contact_section .contact_form .order-summary {
//     margin: 0px auto;
//   }
//   .checkbox-first {
//     display: flex;
//   }
// }

// @media (max-width: 764px) {
//   .contact_form .contacts {
//     grid-template-columns: 12fr !important;
//   }
// }


//ipad pro size
@media (max-width: 1024px) {

}

//ipad 
@media (width: 768px) { 
  .contact_form {

    .all-info {
      .all-info-list {

        .all-info-right {
          margin-left: 20% !important;
        }
      }
    }

  }
}

@media (max-width: 767px) {
  .contact_section {
    width: 100%;
    // padding-bottom: 100px;
    .send_req {
      width: 100%;
      font-size: 25px;
      margin-top:15px;
    }
    .order-summary {
      width: 100% !important;
      // margin-bottom: 100px !important;
      font-size: 19px !important;
      img {
        position: absolute;
        left: 5px;
      }
    }

    .contact_form {
      padding-bottom: 10px;
      margin: auto;
      width: 90%;



      .all-info {
        .all-info-list {
          display: flex;
          justify-content: normal;
          flex-direction: column;

          .all-info-right {
            margin-left: 0px;
          }
        }
        
        p{
          font: 300 12px/29px "Fahkwang";
        }
      }

    }

    .contact_form h1 {
      font-size: 25px;
      margin: 0;
    }
    .contact_form .contacts .f-row h2 {
      font-size: 16px;
      margin-top: 20px;
    }
    .contact_form .contacts .f-row input {
      width: 88%;
    }
    .contact_form label {
      font-size: 12px;
      margin: 0px 0px 3px 0px;
    }
    .contact_form .message-text {
      font-size: 20px;
    }
    .contact_form .checkbox-all {
      margin-top: 0px;
    }
  }
  #contact_section {

    padding-bottom: 0px;
  }

  #contact-form {
    margin-top: 25px;
  }

  #summary_section {
    margin-top: -155px;
  }

 
  

}
