.footer_space {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  // background: #0d0d0dad;
  background: $green;
  max-width: 100%;
  min-height: 130px;
  z-index: 99;
  padding: 0 180px;

  display: flex;
  // justify-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #ffffff;
  opacity: 0.9;

  #column-warranty {
    display: none;
  }

  #column-support {
    display: none;
  }

  .columns {
    h2 {
      text-align: left;
      font: 500 30px/40px "Fahkwang";
      color: #fff980;
      opacity: 1;
    }

    span {
      color: #ffffff;
      display: block;
      margin-top: 15px;
      font-style: normal;
      font: 17px/22px "Larken";
      b {
        // color: #fe9b44;
        color: red;
      }
      img {
        position: absolute;
        margin-left: -40px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .footer_space {
    padding: 0 60px;
  }
}
@media (max-width: 1245px) {
  .footer_space {
    padding: 0 30px;
    .columns {
      h2 {
        font: 500 24px/36px "Fahkwang";
      }

      span {
        font: 300 14px/18px "Larken";
      }
    }
  }
}

@media (max-width: 500px) {
  .footer_space {
    #column-warranty {
      display: none;
    }

    #column-support {
      display: none;
    }

    #column-rull {
      margin-bottom: 10px;
    }

    // background: #0d0d0dad;

    padding: 0 30px;
    .columns {
      h2 {
        font: 300 24px/36px "Fahkwang";
      }

      span {
        font: 100 12px/18px "Fahkwang";
        margin-top: 0px;
      }
    }
  }
}
