.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: 'Fahkwang';
  // max-width: 600px;
  max-width: 25em;
  margin: -5em auto 0px auto;
  overflow: hidden;
  padding-bottom: 200px;
}

.slidemenu label{
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  // color: #333;
  color: $green;
  opacity: 0.2;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px $green;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider-bar{
  width: 100%;
  height: 5px;
  display: block;
  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.slider-bar .bar{
  width: 25%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider-bar .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}

.slidemenu #slide-item-1:checked ~ .slider-bar .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider-bar .bar{ margin-left: 25%; }
.slidemenu #slide-item-3:checked ~ .slider-bar .bar{ margin-left: 50%; }
.slidemenu #slide-item-4:checked ~ .slider-bar .bar{ margin-left: 75%; }

//======================== footer ============================
.footer_space {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  // background: #0d0d0dad;
  background: $green;
  max-width: 100%;
  min-height: 130px;
  z-index: 99;
  padding: 0 180px;

  display: flex;
  // justify-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #ffffff;
  opacity: 0.9;

  #column-warranty {
    display: none;
  }

  #column-support {
    display: none;
  }

  .columns {
    font-size: 1.4em;
    font-family: 'Fahkwang';
    margin-bottom: 5px;
    h2 {
      text-align: left;
      font: 500 30px/40px "Fahkwang";
      color: #fff980;
      opacity: 1;
      margin-top: 0;
      // margin-bottom: -0.8em;
    }

    span {
      color: #ffffff;
      display: block;
      // margin-top: 15px;
      font-style: normal;
      font: 17px/22px "Larken";
      b {
        color: #fff980;
      }
      img {
        position: absolute;
        margin-left: -40px;
      }
    }
  }
}

@media (max-width: 1151px) {
  .footer_space {
    padding: 0;
  }
}


@media (max-width: 767px) {
  .footer_space {
    #column-warranty {
      display: none;
    }

    #column-support {
      display: none;
    }

    #column-rull {
      margin-bottom: 10px;
    }

    // background: #0d0d0dad;

    padding: 0 7px;
    .columns {
      // margin-top: 10px;
      h2 {
        font: 300 24px/15px "Fahkwang";
        margin-bottom: -0.7em;
      }

      span {
        font: 100 12px/13px "Fahkwang";
        margin-top: 0px;
      }
    }

    #column-rull {
      margin-top: 0px;
    }

  }
}


//Moto G4
@media (max-width: 360px) {
  .footer_space .columns {
    h2 {
      margin-bottom:0.2em;
    }
  }
  .footer_space #column-rull {
    margin-bottom: 0px;
}
}
//iphone 5/SE
@media (max-width: 320px) {

}