.footer_space {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: #201f1f;
  max-width: 100%;
  min-height: 130px;
  z-index: 99;
  padding: 0 180px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #ffffff;

  .columns {
    h2 {
      text-align: left;
      font: 500 30px/40px "SF Pro Display";

      opacity: 1;
    }

    span {
      color: #c5c5c5;
      display: block;
      margin-top: 15px;
      font-style: normal;
      font: 300 17px/22px "SF Pro Display";
      b {
        color: #fe9b44;
      }
      img {
        position: absolute;
        margin-left: -40px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .footer_space {
    padding: 0 60px;
  }
}
@media (max-width: 1245px) {
  .footer_space {
    padding: 0 30px;
    .columns {
      h2 {
        font: 500 24px/36px "SF Pro Display";
      }

      span {
        font: 300 14px/18px "SF Pro Display";
      }
    }
  }
}
