.headline {
  // position: fixed;
  position: relative;
  left: 0;
  right: 0;
  top: 100px;
  height: 120px;
  // width: 100%;
  background: $grey;
  color: $g-color;
  z-index: 999;
  opacity: 0.7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-bottom: 1px solid $c-line;

  .border{
    position:absolute;
    background:none;
    transition:all .5s ease-in-out;
  }


  // header hover effect
  .second {
    padding: 10px,0px;
  }

  .second>.border:nth-of-type(1){
    top:-5px;
    left:50%;
    width:0;
    border-top:1px solid $green;
    transition:width .5s ease-in-out, transform 1s ease-in-out;
  }
  
  .second>.border:nth-of-type(2){
    bottom:-10px;
    left:50%;
    width:0;
    border-bottom:1px solid $green;
    transition:width .5s ease-in-out, transform 1s ease-in-out;
  }
  
  .second:hover .border{
    transform:translate(-50%, 0);
    width:100%;
    transition:width .8s ease-in-out, transform .3s ease-in-out;
  }




  a {
    text-decoration: none;
    color: $green;
    cursor: pointer;
    font: 400 2em "Fahkwang";
    padding: 10px;
    &:hover {
      // font-size: 110%;
      transition: all ease-in 1s;
      background-color: #fff980;
    }
  }

  h1 {
    font-family: "Fahkwang";
    font-size: 30px;
    color: #0d0d0d;
  }
  
  b {
    font-family: "Fahkwang";
  }

  .US {
    font: 600 20px "SF Pro Display";
  }
  ion-icon {
    display: none;
  }
}

@media (max-width: 1249px) {
  .headline {
    position: relative;
  }
}

@media (max-width: 650px) {
  .headline {
    justify-content: space-between;
    align-items: flex-end;

    h1 {
      margin-left: 30px;
      margin-bottom: 10px;
    }
    .slaves {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      background: #fff;
      width: 100%;
      opacity: 0;
      a {
        padding: 25px 30px;
      }

      &.active {
        height: auto;
        top: 90px;
        z-index: 999;
        opacity: 1;
        transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
    .US {
      display: none;
    }
    ion-icon {
      display: block;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
{


}