.headline {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 93px;
  width: 100%;
  background: #fff;
  color: $g-color;
  z-index: 999;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid $c-line;

  a {
    text-decoration: none;
    color: #252525;
    cursor: pointer;
    font: 400 20px "SF Pro Display";
  }

  h1 {
    font-family: "Classica Pro Demi";
    font-size: 30px;
    color: #0d0d0d;
  }

  div {
    font: 600 20px "SF Pro Display";
  }
}
