.headline {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 93px;
  width: 100%;
  background: #fff;
  color: $g-color;
  z-index: 999;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid $c-line;

  a {
    text-decoration: none;
    color: #252525;
    cursor: pointer;
    font: 400 20px "SF Pro Display";
  }

  h1 {
    font-family: "Classica Pro";
    font-size: 30px;
    color: #0d0d0d;
  }

  .US {
    font: 600 20px "SF Pro Display";
  }
  ion-icon {
    display: none;
  }
}

@media (max-width: 1249px) {
  .headline {
    position: relative;
  }
}

@media (max-width: 650px) {
  .headline {
    justify-content: space-between;
    align-items: flex-end;

    h1 {
      margin-left: 30px;
      margin-bottom: 10px;
    }
    .slaves {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      background: #fff;
      width: 100%;
      opacity: 0;
      a {
        padding: 25px 30px;
      }

      &.active {
        height: auto;
        top: 90px;
        z-index: 999;
        opacity: 1;
        transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
    .US {
      display: none;
    }
    ion-icon {
      display: block;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
}
