.sections {
  // margin-left: 100px;
  // background: antiquewhite;
}

.group {
  position: relative;
  // width: 100%;
  // height: auto;
  width: 85%;
  // margin: 160px auto;
  margin: 0px auto;

  // display: grid;
  // grid-template-columns: 70% 30%;
  // grid-auto-rows: auto;
  // grid-auto-flow: dense;
}

.head {
  position: fixed;
  left: 0;
  top: 0;
  width: 65%;
  height: 100vh;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 99;

  .d_images {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin: 170px 0;

    img {
      width: 160px;
      margin: -5px 50px;
    }
  }

  .h_image {
    @include centered();
    top: 40%;
    width: 626px;
    height: 626px;
    background: url("../s/Charlize-Three-Stone-Front-Grey-630x630@2x.png");
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  .daimons_min {
    position: relative;
    width: 456px;
    height: 42px;
    margin: -40px auto;

    display: flex;
    justify-content: space-between;

    @media (max-height: 950px) {
      margin: -110px auto;
    }

    a {
      background: #000;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      z-index: 10;
      background: #f1f1f1;
      span {
        display: block;
        color: #a5a5a5;
        text-align: left;
        margin-bottom: 5px;
      }

      &:nth-child(2)::before {
        content: "";
        position: absolute;
        top: 70%;
        left: 10%;
        border: none;
        border-top: 2px dashed #a5a5a5;
        height: 2px;
        width: 35%;
        z-index: 1;
      }
      &:nth-child(2)::after {
        content: "";
        position: absolute;
        top: 70%;
        right: 10%;
        border: none;
        border-top: 2px dashed #a5a5a5;
        height: 2px;
        width: 35%;
        z-index: 1;
      }
    }
  }
}

.main {
  position: relative;
  padding: 0;
  width: 83%;
  height: auto;
  margin: 155px 40px;
  // border: 1px solid rgb(209, 209, 209);

  .blocks {
    @include inline();
    margin-top: 20px;

    img {
      cursor: pointer;
      @include box(85px, 85px);
      @include background();
    }
    .size {
      cursor: pointer;
      margin-top: 10px;
      margin-left: 5px;
      width: 55px;
      text-align: center;
      padding: 9px 0 9px 0;
      border: 2px solid #d1cdcd;
      font: 400 16px "Fahkwang";
      color: $green;  
      opacity: 0.7;
    }

    &.cut_shape {
      margin-top: 20px;
      grid-auto-flow: dense;
      grid-gap: 5px;

      img {
        box-sizing: border-box;
        width: 65px;
        height: 65px;
        cursor: pointer;
        @include background();
        padding: 5px;
      }
    }
  }

  .certificates img {
    width: auto;
    height: 33px;
    padding: 10px;
  }

  .personal_text {
    @include firstForm();
  }

  .diamond_section {
    margin-left: 161px;
  }
  .jewerly_section {
    // margin: auto, 50px;
    margin-left: 148px;

    .style_id {
      margin-top: 15px;
      width: 25%;
      border-radius: 5px;
      border: 3px solid #bbbbbb;
      color: #525252;
      height: 35px;
      font-size: 18px;
      font-weight: 400px;
      font-style: normal;
      font-family: 'Fahkwang';
    }

    select:hover {
      background-color: $grey;
    }

    // select > option:hover {
    //   box-shadow: 0 0 10px 100px #fed20f inset;
    //   transition: all 0.2s ease-in-out;
    // }

    // select.decorated option:hover {
    //   box-shadow: 0 0 10px 100px #1882a8 inset;
    // }

    .ring_sizes {
      margin-bottom: 20px;
    }

    .ring_engrave_form {
      a {
        font-family: 'Fahkwang';
        color: $green;
      }
    }

    small {
      text-align: left;
      text-decoration: underline;
      font: 400 14px/16px "Fahkwang";
      color: #525252;
    }
    .metals {
      @include inline();
      margin-top: 20px;
      gap: 30px;
      & div {
        @include box(95px, 63px);
        cursor: pointer;
      }
    }
    .metal-color {
      @include inline();
      font-family: "Larken";
      margin-top: 5px;
      gap: 30px;
      & div {
        @include box(95px, 63px);
        // cursor: pointer;
      }
    }

    .ring_engraving {
      @include firstForm();
    }
  }
}

#diamond_box {
  .item {
    overflow: hidden;
  }
  .item img {
    opacity: 1;
  }
  .item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0.5;
  }

  .item .caption {
    position: absolute;
    bottom: -50px;
    margin-left: 10px;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .item .caption p {
    margin: 0;
    color: rgb(245, 35, 35);
    font-size: 1em;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
  }
  .item:hover .caption {
    opacity: 1;
    bottom: 10px;
  }
}

.showMessage {
  display: none;
  background-color: #bbbbbb;
  padding: 5px;
  color: #fff980;
  border-radius: 1px;
}

#popup {
  position: fixed;
  // width: 803px; /* Using fixed width but can be anything! */
  // height: 100px;
  top: calc(50% - 360px); /* Using calc for proper centering, 50 = height / 2 */
  left: calc(50% - 360px);
  width: 800px;
  margin: 0 auto;
  text-align: center;
  z-index: 1000; /* Should be greater than the topmost element to ensure front position */
  padding: 10px;
  color: white;
  visibility: hidden; /* Not visible first */
  opacity: 0; /* We can't animate visiblity so we set opacity to 0 */
  transition: all 0.6s;
  img {
    width: 777px;
  }
}
/* When we want to show the overlay we add the visible class */
.visible {
  visibility: visible !important;
  opacity: 1 !important;
}
/* Using a pseudo-selector to create an overlay */
#popup:before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #4a5d477a;
  z-index: -2; /* Needs to be less than :after */
}
#popup:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #e5e3df;
  top: 0;
  left: 0;
  position: absolute;
  // border: 3px solid #013238;
  border-radius: 10px;
  z-index: -1; /* to be below the parent element but in front of before */
}

#close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 500;
  border: 3px solid #6f6f82;
  border-radius: 5px;
  background: #6f6f82;
}
#close::after,
#close::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  top: 50%;
  left: 50%;
  background: #013238;
}
#close:hover,
#close:active {
  background-color: #013238;
  border: 3px solid #013238;
}
#close::after {
  transform: translate(-50%, -50%) rotate(45deg);
  background: yellow;
}
#close:before {
  transform: translate(-50%, -50%) rotate(-45deg);
  background: yellow;
}

/* form validation */
form .error {
  color: #e41749 !important;
}



/* =================== experiment hover ================================= */
.container-hover {
  position: relative;
  // width: 50%;
  // max-width: 300px;
}

.container-hover-image {
  display: block;
  width: 100%;
  height: auto;
  transition: all 2s ease-in-out;
}

.overlay {
  position: absolute; 
  bottom: -15px; 
  // background: rgba(0, 0, 0, 0.5); /* Black see-through */
  white-space:nowrap;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: $green;
  font-size: 20px;
  font-family: "Fahkwang";
  text-align: center;
}

.container-hover:hover .overlay {
  opacity: 1;
}
.container-hover:hover {
  transform: scale(1.1); ;
}




@media (max-width: 1600px) {
  .d_images img {
    margin: -5px 5px !important;
    width: 130px;
  }
}

@media (max-width: 1366px) {
  .d_images img {
    display: none !important;
  }
  .daimons_min {
    margin: 400px auto !important;
  }

  // .group {
  //   grid-template-columns: 55% 45%;
  // }

  .head {
    width: 50%;
  }
}

@media (max-width: 1249px) {
  .footer_space {
    // display: none !important;
  }
  .d_images img {
    display: none !important;
  }
  .daimons_min {
    margin: 400px auto !important;
  }

  .group {
    grid-template-columns: 1fr;
  }

  .head {
    position: relative;
    width: 100%;
    margin-top: 310px;
    height: auto;
    .h_image {
      top: 0;
    }
    .daimons_min {
      display: none;
    }
  }
  .main {
    width: 85%;
    margin: 160px auto;
  }
  .jewerly_section {
    margin-top: 30px;
    border-top: 1px solid #d1cdcd;
    padding-top: 40px;
  }
}

@media (max-width: 655px) {
  .head {
    margin-top: 250px;
    .h_image {
      width: 500px;
      height: 500px;
    }
  }
}
@media (max-width: 500px) {
  .head {
    margin-top: 180px;
    .h_image {
      width: 470px;
      height: 370px;
    }
  }

  .group {
    width: 100%;
  }
  .main {
    width: 90%;

    .diamond_section {
      margin-top: -100px;
      padding-top: 20px;
      margin-left: 0px;
    }

    .jewerly_section {
      padding-top: 20px;
      margin-left: 0px;
      padding-top: 50px;
    }
    .blocks {
      margin-top: 10px;
      img {
        box-sizing: border-box;
        width: 67px;
        height: 62px;
      }
      .size {
        box-sizing: border-box;
        margin-left: 7px;
        width: 70px;
      }

      &.cut_shape {
        grid-gap: 20px 10px;
        img {
          width: 59px;
          height: 60px;
        }
      }
      &.certificates img {
        box-sizing: border-box;
        // height: 32px;
        width: auto;
        &:nth-child(2) {
          margin-left: 32px;
        }
      }

      &.ring_sizes {
        margin-left: 30px;
        width: 290px;
      }
      &.ring_sizes .size {
        box-sizing: border-box;
        margin-left: 3px;
        width: 62px;
      }
    }

    .personal_text {
      input {
        width: 80%;
        border: 3px solid #eeeeee;
      }
      button {
        padding: 8px 10px;
        border-radius: 2px;
      }
    }
    .jewerly_section .style_id {
      border: 3px solid #eeeeee;
      margin-top: 10px;
      width: 100%;
    }
    .jewerly_section .ring_engraving {
      input {
        width: 80%;
      }
      button {
        padding: 8px 10px;
        border-radius: 2px;
      }
    }
    .jewerly_section .metals {
      gap: 15px;
      img {
        box-sizing: border-box;
        width: 70px;
        height: 46px;
      }
    }
    .jewerly_section .metal-color {
      // gap: 15px;
      // img {
      //   box-sizing: border-box;
      //   width: 70px;
      //   height: 46px;
      // }
    }
    .jewerly_section .metal-color div {
      display: block;
      font-size: 10px;
      // background-color: red;
      height: 30px;
      width: 60px;
      white-space: nowrap;
      &.platinum {
        text-align: left;
      }
    }
    .jewerly_section .ring_engraving span {
      font-size: 14px;
    }
  }


        
  .popup {
    position: fixed;
    // width: 803px; /* Using fixed width but can be anything! */
    // height: 100px;
    top: calc(
      50% - 200px
    ); /* Using calc for proper centering, 50 = height / 2 */
    left: calc(50% - 177px);
    width: 328px;
    margin: 0 auto;
    text-align: center;
    z-index: 1000; /* Should be greater than the topmost element to ensure front position */
    padding: 10px;
    color: white;
    visibility: hidden; /* Not visible first */
    opacity: 0; /* We can't animate visiblity so we set opacity to 0 */
    transition: all 0.6s;
    img {
      width: 330px;
    }
  }
  /* When we want to show the overlay we add the visible class */
  .visible {
    visibility: visible;
    opacity: 1;
  }
  /* Using a pseudo-selector to create an overlay */
  .popup:before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #19180a94;
    z-index: -2; /* Needs to be less than :after */
  }
  .popup:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e5e3df;
    top: 0;
    left: 0;
    position: absolute;
    // border: 3px solid #013238;
    border-radius: 10px;
    z-index: -1; /* to be below the parent element but in front of before */
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 500;
    border: 1px solid #fff980;
    border-radius: 5px;
    background-color: #cccccc;
  }
  .close::after,
  .close::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 15px;
    top: 50%;
    left: 50%;
    background: #fff980;
  }
  .close:hover,
  close:active {
    background-color: #013238;
  }
  .close::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .close:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
