.group {
  position: relative;
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: 70% 30%;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.head {
  position: fixed;
  left: 0;
  top: 0;
  width: 65%;
  height: 100vh;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 99;

  .d_images {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin: 170px 0;

    img {
      width: 160px;
      margin: -5px 50px;
    }
  }

  .h_image {
    @include centered();
    top: 40%;
    width: 626px;
    height: 626px;
    background: url("../img/Charlize-Three-Stone-Front-Grey-630x630@2x.png");
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  .daimons_min {
    position: relative;
    width: 456px;
    height: 42px;
    margin: -40px auto;

    display: flex;
    justify-content: space-between;

    a {
      background: #000;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      z-index: 10;
      background: #f1f1f1;
      span {
        display: block;
        color: #a5a5a5;
        text-align: left;
        margin-bottom: 5px;
      }

      &:nth-child(2)::before {
        content: "";
        position: absolute;
        top: 70%;
        left: 10%;
        border: none;
        border-top: 2px dashed #a5a5a5;
        height: 2px;
        width: 35%;
        z-index: 1;
      }
      &:nth-child(2)::after {
        content: "";
        position: absolute;
        top: 70%;
        right: 10%;
        border: none;
        border-top: 2px dashed #a5a5a5;
        height: 2px;
        width: 35%;
        z-index: 1;
      }
    }
  }
}

.main {
  position: relative;
  padding: 0;
  width: 83%;
  height: auto;
  margin: 155px 0px;
  // border: 1px solid rgb(209, 209, 209);

  .blocks {
    @include inline();
    margin-top: 20px;

    img {
      cursor: pointer;
      @include box(85px, 85px);

      @include background();
    }

    .size {
      cursor: pointer;
      margin-top: 10px;
      margin-left: 5px;
      width: 55px;
      text-align: center;
      padding: 9px 0 9px 0;
      border: 1px solid #eeeeee;
      font: 400 16px "SF Pro Display";
      color: #525252;
      opacity: 0.7;
    }

    &.cut_shape {
      margin-top: 20px;
      grid-auto-flow: dense;
      grid-gap: 35px;

      img {
        width: 65px;
        height: 65px;
        cursor: pointer;
        @include background();
      }
    }
  }

  .certificates img {
    width: auto;
    height: 33px;
  }

  .personal_text {
    @include firstForm();
  }

  .jewerly_section {
    .style_id {
      margin-top: 10px;
      width: 60%;
    }

    .ring_sizes {
      margin-bottom: 20px;
    }
    small {
      text-align: left;
      text-decoration: underline;
      font: 400 14px/16px "SF Pro Display";
      color: #525252;
    }
    .metals {
      @include inline();
      margin-top: 20px;
      gap: 30px;
      & div {
        @include box(95px, 63px);
        cursor: pointer;
      }
    }

    .ring_engraving {
      @include firstForm();
    }
  }
}

@media (max-width: 1600px) {
  .d_images img {
    margin: -5px 5px !important;
    width: 130px;
  }
}

@media (max-width: 1366px) {
  .d_images img {
    display: none !important;
  }
  .daimons_min {
    margin: 400px auto !important;
  }

  .group {
    grid-template-columns: 55% 45%;
  }

  .head {
    width: 50%;
  }
}

@media (max-width: 1249px) {
  .footer_space {
    display: none !important;
  }
  .d_images img {
    display: none !important;
  }
  .daimons_min {
    margin: 400px auto !important;
  }

  .group {
    grid-template-columns: 1fr;
  }

  .head {
    position: relative;
    width: 100%;
    margin-top: 310px;
    height: auto;
    .h_image {
      top: 0;
    }
    .daimons_min {
      display: none;
    }
  }
  .main {
    width: 85%;
    margin: 160px auto;
  }
  .jewerly_section {
    margin-top: 40px;
  }
}

@media (max-width: 655px) {
  .head {
    margin-top: 250px;
    .h_image {
      width: 500px;
      height: 500px;
    }
  }
}
@media (max-width: 500px) {
  .head {
    margin-top: 180px;
    .h_image {
      width: 370px;
      height: 370px;
    }
  }

  .diamond_section {
    margin-top: -100px;
  }

  .main {
    width: 90%;

    .blocks {
      margin-top: 10px;
      img {
        width: 67px;
        height: 67px;
      }
      .size {
        margin-left: 7px;
        width: 75px;
      }
      &.cut_shape {
        grid-gap: 20px 10px;
        img {
          width: 59px;
          height: 60px;
        }
      }
      &.certificates img {
        height: 32px;
        width: auto;
        &:nth-child(2) {
          margin-left: 32px;
        }
      }

      &.ring_sizes .size {
        margin-left: 3px;
        width: 62px;
      }
    }

    .personal_text {
      input {
        width: 80%;
      }
      button {
        padding: 8px 10px;
        border-radius: 2px;
      }
    }
    .jewerly_section .style_id {
      margin-top: 10px;
      width: 100%;
    }
    .jewerly_section .ring_engraving {
      input {
        width: 80%;
      }
      button {
        padding: 8px 10px;
        border-radius: 2px;
      }
    }
    .jewerly_section .metals {
      gap: 18px;
      img {
        width: 70px;
        height: 46px;
      }
    }
    .jewerly_section .ring_engraving span {
      font-size: 14px;
    }
  }
}
