html {
  scroll-behavior: smooth;
  overflow: scroll;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
}

* {
  margin: 0;
  padding: 0;
}

$c-dexin: #073801;
$c-line: #d1cdcd;
$g-color: #252525;

$green: #01282d;
$yellow: #fff880;
$grey: #fff9ea;

.borderBox {
  // transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: 0.2s;
  // border: 2px solid $c-dexin;
  border: 2px solid $green !important;
  border-radius: 5px;;
  // background-color: #fff980;
}


.navBorderBox {
  // transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: 0.2s;
  // border: 2px solid $c-dexin;
  border-bottom: 7px solid $green;
  // background-color: #fff980;
}

h1 {
  text-align: center;
  font-size: 35px;
  font-family: "Larken";
  letter-spacing: 0px;
  color: $green;
  @media (max-width: 500px) {
    font-size: 25px;
  }
}

h3 {
  margin-top: 35px;
  color: $green;
  font: 400 25px/30px "Larken";
  text-transform: capitalize;
  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.lines {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background: #d1cdcd 0% 0% no-repeat padding-box;
  opacity: 1;
}

input {
  height: 35px;
  border: 3px solid #bbbbbb;
  border-radius: 5px;
  color: #525252;
  font: 400 18px "Larken";
  &:focus {
    outline: none;
    border-color: $green;
  }
}






// ---------------------------  notify plugin ------------------------------------

.notify {
  --notify-success: #fff880;
  .notify--type-3 .notify__text {

  }
  .notify__icon {}
  .notify-content {
    .notify__title {
      font-size: 2rem;
    }
    .notify__text {
      display: none;
    }
  }
}

.notifications-container {
  max-width: 222px;
}

.myNotify {
  font-family: "Larken";
  // background-color: $yellow !important;
  color: $green;
 
}

//--------------------------- submit feedback alert ----------------------------------

/* the alert section*/
.alertFeedback {
  // position: absolute;
  position: fixed;
  // padding-top: 25px;
  line-height: 60px;
  top: 0px;
  width: 100%;
  height: 0;
  box-sizing: border-box;
  color: $green;
  text-align: center;
  font-size: 2.0em;
  font-family: "Larken";
  background: $yellow;
  opacity: 0.9;
  overflow: hidden;
  box-sizing: border-box;
  transition: height 1s;
}

#alertFeedbackId:before {
  display: block;
  // display: none;
  margin-top: 15px;
}
.active {
  height: 80px;
  z-index: 100;
  right: 0px;
}

.success:before {
  content: "Submit success!";
}

.failure:before {
  content: "Sorry! Submit failed";
  color:red;
}
.validation:before {
  content: "Please fulfill the required fields.";
  color:$green;
}

@mixin inline() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: flex-start;
  // align-items: flex-start;
}

@mixin box($width, $height) {
  width: $width;
  height: $height;
  text-align: center;
  vertical-align: middle;
}

@mixin background() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin firstForm() {
  span {
    margin: 10px 0 20px 0;
    display: block;
    width: 100%;
    font: 400 16px "Larken";
    letter-spacing: 0px;
    color: #525252;
  }
  input {
    width: 60%;
  }
  button {
    background: $green;
    padding: 8px 34px;
    // border: 1px solid #013238;
    border: 1px solid $yellow;
    // border-radius: 5px;
    font: 400 16px "Larken";
    color: #fff;
    cursor: pointer;
  }
}


@media (max-width: 767px) {
  .notifications-container.notify-is-y-center {
    top: 33%;
    transform: translateY(-50%);
  }

  .alertFeedback {
    font-size: 1.6em;
  }
}