html {
  scroll-behavior: smooth;
  overflow: scroll;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
}

* {
  margin: 0;
  padding: 0;
}

$c-dexin: #013238;
$c-line: #d1cdcd;
$g-color: #252525;

.borderBox {
  transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  border: 2px solid $c-dexin;
  // background-color: #fff980;
}

h1 {
  text-align: center;
  font-size: 35px;
  font-family: "Larken";
  letter-spacing: 0px;
  color: $g-color;
  @media (max-width: 500px) {
    font-size: 25px;
  }
}

h3 {
  margin-top: 35px;
  color: #0d0d0d;
  font: 400 25px/30px "Larken";
  text-transform: capitalize;
  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.lines {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background: #d1cdcd 0% 0% no-repeat padding-box;
  opacity: 1;
}

input {
  height: 35px;
  border: 3px solid #bbbbbb;
  border-radius: 5px;
  color: #525252;
  font: 400 18px "Larken";
  &:focus {
    outline: none;
    border-color: $c-dexin;
  }
}

@mixin inline() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: flex-start;
  // align-items: flex-start;
}

@mixin box($width, $height) {
  width: $width;
  height: $height;
  text-align: center;
  vertical-align: middle;
}

@mixin background() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin firstForm() {
  span {
    margin: 10px 0 20px 0;
    display: block;
    width: 100%;
    font: 400 16px "Larken";
    letter-spacing: 0px;
    color: #525252;
  }
  input {
    width: 60%;
  }
  button {
    background: $c-dexin;
    padding: 8px 34px;
    border: 1px solid #013238;
    // border-radius: 5px;
    font: 400 16px "Larken";
    color: #fff;
    cursor: pointer;
  }
}
