@font-face {
  font-family: "Fahkwang";
  src: url("classica/Fahkwang-Regular.ttf"); }
@font-face {
  font-family: "Larken";
  src: url("classica/Larken+Light.ttf"); }
html {
  scroll-behavior: smooth;
  overflow: scroll; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll; }

* {
  margin: 0;
  padding: 0; }

.borderBox {
  transition: 0.2s;
  border: 2px solid #01282d; }

.navBorderBox {
  transition: 0.2s;
  border-bottom: 7px solid #01282d; }

h1 {
  text-align: center;
  font-size: 35px;
  font-family: "Larken";
  letter-spacing: 0px;
  color: #01282d; }
  @media (max-width: 500px) {
    h1 {
      font-size: 25px; } }

h3 {
  margin-top: 35px;
  color: #01282d;
  font: 400 25px/30px "Larken";
  text-transform: capitalize; }
  @media (max-width: 500px) {
    h3 {
      font-size: 20px; } }

.lines {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background: #d1cdcd 0% 0% no-repeat padding-box;
  opacity: 1; }

input {
  height: 35px;
  border: 3px solid #bbbbbb;
  border-radius: 5px;
  color: #525252;
  font: 400 18px "Larken"; }
  input:focus {
    outline: none;
    border-color: #01282d; }

.notify {
  --notify-success: #fff9ea; }
  .notify .notify-content .notify__title {
    font-size: 2rem; }
  .notify .notify-content .notify__text {
    display: none; }

.notifications-container {
  max-width: 222px; }

.myNotify {
  font-family: "Larken";
  color: #01282d; }

/* the alert section*/
.alertFeedback {
  position: fixed;
  line-height: 60px;
  top: 0px;
  width: 100%;
  height: 0;
  box-sizing: border-box;
  color: #01282d;
  text-align: center;
  font-size: xx-large;
  font-family: "Larken";
  background: #fff880;
  opacity: 0.9;
  overflow: hidden;
  box-sizing: border-box;
  transition: height 1s; }

#alertFeedbackId:before {
  display: block;
  margin-top: 15px; }

.active {
  height: 80px;
  z-index: 100; }

.success:before {
  content: "Submit success!"; }

.failure:before {
  content: "Sorry! Submit failed";
  color: red; }

.validation:before {
  content: "Please fulfill the required fields.";
  color: #01282d; }

@media (max-width: 767px) {
  .notifications-container.notify-is-y-center {
    top: 33%;
    transform: translateY(-50%); } }
.group {
  position: relative;
  width: 85%;
  margin: 0px auto; }

.head {
  position: fixed;
  left: 0;
  top: 0;
  width: 65%;
  height: 100vh;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 99; }
  .head .d_images {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin: 170px 0; }
    .head .d_images img {
      width: 160px;
      margin: -5px 50px; }
  .head .h_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40%;
    width: 626px;
    height: 626px;
    background: url("../s/Charlize-Three-Stone-Front-Grey-630x630@2x.png");
    background-size: cover;
    background-position: center;
    opacity: 1; }
  .head .daimons_min {
    position: relative;
    width: 456px;
    height: 42px;
    margin: -40px auto;
    display: flex;
    justify-content: space-between; }
    @media (max-height: 950px) {
      .head .daimons_min {
        margin: -110px auto; } }
    .head .daimons_min a {
      background: #000;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      z-index: 10;
      background: #f1f1f1; }
      .head .daimons_min a span {
        display: block;
        color: #a5a5a5;
        text-align: left;
        margin-bottom: 5px; }
      .head .daimons_min a:nth-child(2)::before {
        content: "";
        position: absolute;
        top: 70%;
        left: 10%;
        border: none;
        border-top: 2px dashed #a5a5a5;
        height: 2px;
        width: 35%;
        z-index: 1; }
      .head .daimons_min a:nth-child(2)::after {
        content: "";
        position: absolute;
        top: 70%;
        right: 10%;
        border: none;
        border-top: 2px dashed #a5a5a5;
        height: 2px;
        width: 35%;
        z-index: 1; }

.main {
  position: relative;
  padding: 0;
  width: 83%;
  height: auto;
  margin: 156px auto; }
  .main .blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px; }
    .main .blocks img {
      cursor: pointer;
      width: 85px;
      height: 85px;
      text-align: center;
      vertical-align: middle;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .main .blocks .size {
      cursor: pointer;
      margin-top: 10px;
      margin-left: 5px;
      width: 55px;
      text-align: center;
      padding: 9px 0 9px 0;
      border: 2px solid #d1cdcd;
      font: 400 16px "Fahkwang";
      color: #01282d;
      opacity: 0.7; }
    .main .blocks.cut_shape {
      margin-top: 20px;
      grid-auto-flow: dense;
      grid-gap: 5px; }
      .main .blocks.cut_shape img {
        box-sizing: border-box;
        width: 65px;
        height: 65px;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 5px; }
  .main .certificates img {
    width: auto;
    height: 60px;
    padding: 10px; }
  .main .personal_text span {
    margin: 10px 0 20px 0;
    display: block;
    width: 100%;
    font: 400 16px "Larken";
    letter-spacing: 0px;
    color: #525252; }
  .main .personal_text input {
    width: 60%; }
  .main .personal_text button {
    background: #01282d;
    padding: 8px 34px;
    border: 1px solid #fff880;
    font: 400 16px "Larken";
    color: #fff;
    cursor: pointer; }
  .main .diamond_section {
    margin: 0 auto;
    max-width: 1000px; }
  .main .jewerly_section {
    margin: 0 auto;
    max-width: 1000px; }
    .main .jewerly_section .style_id {
      margin-top: 15px;
      width: 25%;
      border-radius: 5px;
      border: 3px solid #bbbbbb;
      color: #525252;
      height: 35px;
      font-size: 18px;
      font-weight: 400px;
      font-style: normal;
      font-family: 'Fahkwang'; }
    .main .jewerly_section select:hover {
      background-color: #fff9ea; }
    .main .jewerly_section .ring_sizes {
      margin-bottom: 20px; }
    .main .jewerly_section .ring_engrave_form a {
      font-family: 'Fahkwang';
      color: #01282d; }
    .main .jewerly_section small {
      text-align: left;
      text-decoration: underline;
      font: 400 14px/16px "Fahkwang";
      color: #525252; }
    .main .jewerly_section .metals {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 20px;
      gap: 30px; }
      .main .jewerly_section .metals div {
        width: 95px;
        height: 63px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer; }
    .main .jewerly_section .metal-color {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-family: "Larken";
      margin-top: 5px;
      gap: 30px; }
      .main .jewerly_section .metal-color div {
        width: 95px;
        height: 63px;
        text-align: center;
        vertical-align: middle; }
    .main .jewerly_section .ring_engraving span {
      margin: 10px 0 20px 0;
      display: block;
      width: 100%;
      font: 400 16px "Larken";
      letter-spacing: 0px;
      color: #525252; }
    .main .jewerly_section .ring_engraving input {
      width: 60%; }
    .main .jewerly_section .ring_engraving button {
      background: #01282d;
      padding: 8px 34px;
      border: 1px solid #fff880;
      font: 400 16px "Larken";
      color: #fff;
      cursor: pointer; }

/* ===================  jewelry size popup affection  ================================= */
#popup {
  position: fixed;
  top: 20%;
  /* Using calc for proper centering, 50 = height / 2 */
  left: 25%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  z-index: 1000;
  /* Should be greater than the topmost element to ensure front position */
  padding: 10px;
  color: white;
  visibility: hidden;
  /* Not visible first */
  opacity: 0;
  /* We can't animate visiblity so we set opacity to 0 */
  transition: all 0.6s; }
  #popup img {
    width: 100%; }

/* When we want to show the overlay we add the visible class */
.visible {
  visibility: visible !important;
  opacity: 1 !important; }

/* Using a pseudo-selector to create an overlay */
#popup:before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #4a5d477a;
  z-index: -2;
  /* Needs to be less than :after */ }

#popup:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #e5e3df;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 10px;
  z-index: -1;
  /* to be below the parent element but in front of before */ }

#close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 500;
  border: 3px solid #6f6f82;
  border-radius: 5px;
  background: #6f6f82; }

#close::after,
#close::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  top: 50%;
  left: 50%;
  background: #013238; }

#close:hover,
#close:active {
  background-color: #013238;
  border: 3px solid #013238; }

#close::after {
  transform: translate(-50%, -50%) rotate(45deg);
  background: yellow; }

#close:before {
  transform: translate(-50%, -50%) rotate(-45deg);
  background: yellow; }

/* form validation */
form .error {
  color: #e41749 !important; }

/* =================== bootbox ================================= */
.modal-title, .modal-body, .modal-footer {
  font-family: 'Fahkwang'; }

.modal-content {
  background-color: #fff9ea; }

.btn-danger {
  border-radius: 0px;
  background-color: #01282d;
  border-color: #01282d; }

.btn-info {
  border-radius: 0px;
  border-color: #01282d;
  background-color: #fff880;
  color: #01282d; }

/* ===================  hover affection  ================================= */
.container-hover {
  position: relative; }

.container-hover-image {
  display: block;
  width: 100%;
  height: auto;
  transition: all 2s ease-in-out; }

.overlay {
  position: absolute;
  bottom: -15px;
  white-space: nowrap;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: #01282d;
  font-size: 13px;
  font-family: "Fahkwang";
  text-align: center; }

.container-hover:hover .overlay {
  opacity: 1; }

.container-hover:hover {
  transform: scale(1.1);
  transition: all 0.8s; }

@media (max-width: 767px) {
  .head {
    margin-top: 180px; }
    .head .h_image {
      width: 470px;
      height: 370px; }

  .group {
    width: 100%; }

  .main {
    width: 90%;
    margin: 100px auto; }
    .main .overlay {
      font-size: 10px; }
    .main .diamond_section {
      margin-top: -100px;
      padding-top: 20px;
      margin-left: 0px; }
      .main .diamond_section .certificates img {
        height: 80%; }
    .main .jewerly_section {
      padding-top: 20px;
      margin-left: 0px;
      padding-top: 50px; }
    .main .blocks {
      margin-top: 10px; }
      .main .blocks img {
        box-sizing: border-box;
        width: 67px;
        height: 62px; }
      .main .blocks .size {
        box-sizing: border-box;
        margin-left: 7px;
        width: 70px; }
      .main .blocks.cut_shape {
        grid-gap: 20px 10px; }
        .main .blocks.cut_shape img {
          width: 59px;
          height: 60px; }
      .main .blocks.certificates img {
        box-sizing: border-box;
        width: auto; }
        .main .blocks.certificates img:nth-child(2) {
          margin-left: 32px; }
      .main .blocks.ring_sizes {
        margin-left: 30px;
        width: 290px; }
      .main .blocks.ring_sizes .size {
        box-sizing: border-box;
        margin-left: 3px;
        width: 62px; }
    .main .personal_text input {
      width: 80%;
      border: 3px solid #eeeeee; }
    .main .personal_text button {
      padding: 8px 10px;
      border-radius: 2px; }
    .main .jewerly_section .style_id {
      border: 3px solid #eeeeee;
      margin-top: 10px;
      width: 100%; }
    .main .jewerly_section .ring_engraving input {
      width: 80%; }
    .main .jewerly_section .ring_engraving button {
      padding: 8px 10px;
      border-radius: 2px; }
    .main .jewerly_section .metals {
      gap: 15px; }
      .main .jewerly_section .metals img {
        box-sizing: border-box;
        width: 70px;
        height: 46px; }
    .main .jewerly_section .metal-color div {
      display: block;
      font-size: 10px;
      height: 30px;
      width: 60px;
      white-space: nowrap; }
      .main .jewerly_section .metal-color div.platinum {
        text-align: left; }
    .main .jewerly_section .ring_engraving span {
      font-size: 14px; }

  #popup {
    position: fixed;
    top: 30%;
    /* Using calc for proper centering, 50 = height / 2 */
    left: 16%;
    width: 70%;
    height: 38%;
    margin: 0 auto;
    text-align: center;
    z-index: 1000;
    /* Should be greater than the topmost element to ensure front position */
    padding: 10px;
    color: white;
    visibility: hidden;
    /* Not visible first */
    opacity: 0;
    /* We can't animate visiblity so we set opacity to 0 */
    transition: all 0.6s; }
    #popup img {
      width: 100%; }

  /* When we want to show the overlay we add the visible class */
  .visible {
    visibility: visible;
    opacity: 1; }

  /* Using a pseudo-selector to create an overlay */
  #popup:before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #19180a94;
    z-index: -2;
    /* Needs to be less than :after */ }

  #popup:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e5e3df;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    /* to be below the parent element but in front of before */ }

  #close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 500;
    border: 1px solid #fff980;
    border-radius: 5px;
    background-color: #cccccc; }

  #close::after,
  #close::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 15px;
    top: 50%;
    left: 50%;
    background: #fff980; }

  #close:hover,
  #close:active {
    background-color: #013238; }

  #close::after {
    transform: translate(-50%, -50%) rotate(45deg); }

  #close:before {
    transform: translate(-50%, -50%) rotate(-45deg); } }
@media (width: 375px) {
  #popup {
    height: 31%; } }
@media (max-width: 360px) {
  .container-hover {
    width: 20%; }

  .main .blocks .size {
    width: 64px; }

  .main .jewerly_section .metal-color div {
    width: 16%; }

  .main .jewerly_section .metals img {
    width: 20%; } }
@media (max-width: 320px) {
  .main .blocks .size {
    width: 20%; } }
.headline {
  position: relative;
  left: 0;
  right: 0;
  top: 100px;
  height: 120px;
  background: #fff9ea;
  color: #252525;
  z-index: 999;
  opacity: 0.7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #d1cdcd; }
  .headline .border {
    position: absolute;
    background: none;
    transition: all .5s ease-in-out; }
  .headline .second {
    padding: 10px,0px; }
  .headline .second > .border:nth-of-type(1) {
    top: -5px;
    left: 50%;
    width: 0;
    border-top: 1px solid #01282d;
    transition: width .5s ease-in-out, transform 1s ease-in-out; }
  .headline .second > .border:nth-of-type(2) {
    bottom: -10px;
    left: 50%;
    width: 0;
    border-bottom: 1px solid #01282d;
    transition: width .5s ease-in-out, transform 1s ease-in-out; }
  .headline .second:hover .border {
    transform: translate(-50%, 0);
    width: 100%;
    transition: width .8s ease-in-out, transform .3s ease-in-out; }
  .headline a {
    text-decoration: none;
    color: #01282d;
    cursor: pointer;
    font: 400 26px "Fahkwang";
    padding: 10px; }
    .headline a:hover {
      transition: all ease-in 1s;
      background-color: #fff980; }
  .headline h1 {
    font-family: "Fahkwang";
    font-size: 30px;
    color: #0d0d0d; }
  .headline .US {
    font: 600 20px "SF Pro Display"; }
  .headline ion-icon {
    display: none; }

@media (max-width: 1249px) {
  .headline {
    position: relative; } }
@media (max-width: 650px) {
  .headline {
    justify-content: space-between;
    align-items: flex-end; }
    .headline h1 {
      margin-left: 30px;
      margin-bottom: 10px; }
    .headline .slaves {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      background: #fff;
      width: 100%;
      opacity: 0; }
      .headline .slaves a {
        padding: 25px 30px; }
      .headline .slaves.active {
        height: auto;
        top: 90px;
        z-index: 999;
        opacity: 1;
        transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }
    .headline .US {
      display: none; }
    .headline ion-icon {
      display: block;
      margin-right: 20px;
      margin-bottom: 10px; } }
.contact_section {
  position: relative;
  width: 70%;
  height: auto;
  z-index: 99;
  opacity: 1;
  margin: 126px auto 200px auto;
  max-width: 1000px; }
  .contact_section .contact_form {
    position: relative;
    display: flex;
    flex-direction: column; }
    .contact_section .contact_form .all-info {
      padding-top: 10px; }
      .contact_section .contact_form .all-info .all-info-list {
        display: flex;
        justify-content: start; }
        .contact_section .contact_form .all-info .all-info-list .all-info-right {
          margin-left: 30%; }
      .contact_section .contact_form .all-info p {
        font: 300 17px/29px "Fahkwang"; }
      .contact_section .contact_form .all-info span {
        color: #01282d;
        padding-left: 10px;
        background: #fff880; }
    .contact_section .contact_form h1 {
      font-size: 35px;
      font-weight: 500;
      font-family: "Larken";
      color: #01282d;
      margin-bottom: 0px; }
    .contact_section .contact_form .lines {
      margin-top: 0px; }
    .contact_section .contact_form label {
      display: block;
      text-align: left;
      font: 400 16px/21px "Fahkwang";
      color: #01282d;
      opacity: 1;
      margin: 10px 0 10px 0; }
    .contact_section .contact_form #message {
      width: 98%;
      height: 100px;
      border: 3px solid #bbbbbb;
      border-radius: 5px;
      color: #525252;
      font: 400 18px "Fahkwang"; }
      .contact_section .contact_form #message:focus {
        outline: none;
        border-color: #01282d; }
    .contact_section .contact_form .contacts {
      display: grid;
      grid-template-columns: 6fr 6fr;
      grid-auto-rows: auto;
      grid-auto-flow: dense; }
      .contact_section .contact_form .contacts .f-row {
        width: 100%;
        display: flex;
        flex-direction: column; }
        .contact_section .contact_form .contacts .f-row h2 {
          text-align: left;
          font: 500 25px/33px "Larken";
          color: #0d0d0d; }
        .contact_section .contact_form .contacts .f-row input {
          width: 96%;
          border-radius: 5px; }
        .contact_section .contact_form .contacts .f-row .s-row {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap; }
          .contact_section .contact_form .contacts .f-row .s-row div {
            width: 49%; }
    .contact_section .contact_form .checkbox-all {
      position: relative;
      margin-top: 30px;
      max-width: 470px;
      display: flex;
      justify-items: self-start;
      align-items: flex-start; }
      .contact_section .contact_form .checkbox-all .checkbox-label {
        display: block;
        position: relative;
        margin: auto;
        cursor: pointer;
        font-size: 22px;
        line-height: 24px;
        height: 24px;
        width: 38px;
        clear: both; }
        .contact_section .contact_form .checkbox-all .checkbox-label input {
          position: absolute;
          opacity: 0;
          cursor: pointer; }
          .contact_section .contact_form .checkbox-all .checkbox-label input:checked ~ .checkbox-custom {
            background-color: #01282d;
            transform: rotate(0deg) scale(1);
            opacity: 1; }
          .contact_section .contact_form .checkbox-all .checkbox-label input:checked ~ .checkbox-custom:after {
            transform: rotate(45deg) scale(1);
            opacity: 1;
            left: 4px;
            top: 1px;
            width: 6px;
            height: 12px;
            border: 3px solid #fff;
            border-width: 0 2px 2px 0;
            background-color: transparent;
            border-radius: 0; }
        .contact_section .contact_form .checkbox-all .checkbox-label span {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 17px;
          height: 17px;
          background-color: transparent;
          transition: all 0.3s ease-out;
          border: 2px solid #01282d;
          border-radius: 3px; }
          .contact_section .contact_form .checkbox-all .checkbox-label span:after {
            position: absolute;
            content: "";
            left: 12px;
            top: 12px;
            border-radius: 5px;
            border-width: 0 3px 3px 0;
            transition: all 0.3s ease-out; }
      .contact_section .contact_form .checkbox-all span.checkbox-terms {
        font-size: 12px;
        font-style: italic; }
      .contact_section .contact_form .checkbox-all span {
        display: inline;
        text-align: left;
        font: 500 14px/19px "Fahkwang";
        color: #737373;
        margin-left: 0; }
    .contact_section .contact_form .order-summary {
      margin-top: 34px;
      width: 435px;
      height: 55px;
      z-index: 99;
      border: 1px solid #01282d;
      cursor: pointer;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font: 300 21px/28px "Fahkwang";
      color: #01282d;
      margin-bottom: 0px;
      border: 1px solid #01282d;
      background-color: #01282d;
      color: #fff9ea; }
      .contact_section .contact_form .order-summary:focus {
        outline: none; }
      .contact_section .contact_form .order-summary:hover {
        transform: scale(1.03);
        transition: all 0.2s ease-in-out; }
      .contact_section .contact_form .order-summary:active {
        transform: scale(0.98);
        transition: all 0.2s ease-in-out; }
    .contact_section .contact_form .message-text {
      text-align: left;
      font: 500 25px/33px "Fahkwang";
      color: #0d0d0d;
      margin: 30px 0 18px 0; }
  .contact_section .contact_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .contact_section .contact_info .jeverly-id-text {
      color: #525252;
      font: 500 20px/26px "Larken"; }
    .contact_section .contact_info img {
      width: 240x;
      height: 240px;
      margin-left: 110px; }
  .contact_section .send_req {
    margin-top: 30px;
    width: 435px;
    height: 55px;
    z-index: 99;
    border: 1px solid #01282d;
    cursor: pointer;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 300 21px/28px "Fahkwang";
    color: #01282d;
    color: #01282d;
    background: #fff880;
    border-radius: 0px;
    border: 1px solid #fff880; }
    .contact_section .send_req:focus {
      outline: none; }
    .contact_section .send_req:hover {
      transform: scale(1.03);
      transition: all 0.2s ease-in-out; }
    .contact_section .send_req:active {
      transform: scale(0.98);
      transition: all 0.2s ease-in-out; }

#contact-form {
  margin: 0 auto;
  max-width: 1000px; }
  #contact-form h1 {
    margin-top: 30px;
    margin-bottom: 0px; }
  #contact-form .lines {
    margin-top: 20px; }

.checkbox-first {
  position: relative;
  margin-top: 20px;
  max-width: 470px;
  display: none; }
  .checkbox-first .checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both; }
    .checkbox-first .checkbox-label input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
      .checkbox-first .checkbox-label input:checked ~ .checkbox-custom {
        background-color: #6a6a6a;
        transform: rotate(0deg) scale(1);
        opacity: 1; }
      .checkbox-first .checkbox-label input:checked ~ .checkbox-custom:after {
        transform: rotate(45deg) scale(1);
        opacity: 1;
        left: 4px;
        top: 1px;
        width: 6px;
        height: 12px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        background-color: transparent;
        border-radius: 0; }
    .checkbox-first .checkbox-label span {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 17px;
      height: 17px;
      background-color: transparent;
      transition: all 0.3s ease-out;
      border: 1px solid #6a6a6a;
      border-radius: 3px; }
      .checkbox-first .checkbox-label span:after {
        position: absolute;
        content: "";
        left: 12px;
        top: 12px;
        border-radius: 5px;
        border-width: 0 3px 3px 0;
        transition: all 0.3s ease-out; }
  .checkbox-first span {
    position: absolute;
    left: 25px;
    top: 10px;
    width: 85%;
    text-align: left;
    font: 500 14px/19px "Fahkwang";
    color: #2b2b2b; }
    .checkbox-first span a {
      color: #28a4e5; }

@media (width: 768px) {
  .contact_form .all-info .all-info-list .all-info-right {
    margin-left: 20% !important; } }
@media (max-width: 767px) {
  .contact_section {
    width: 100%; }
    .contact_section .send_req {
      width: 100%;
      font-size: 25px;
      margin-top: 15px; }
    .contact_section .order-summary {
      width: 100% !important;
      font-size: 19px !important; }
      .contact_section .order-summary img {
        position: absolute;
        left: 5px; }
    .contact_section .contact_form {
      padding-bottom: 10px;
      margin: auto;
      width: 90%; }
      .contact_section .contact_form .all-info .all-info-list {
        display: flex;
        justify-content: normal;
        flex-direction: column; }
        .contact_section .contact_form .all-info .all-info-list .all-info-right {
          margin-left: 0px; }
      .contact_section .contact_form .all-info p {
        font: 300 12px/29px "Fahkwang"; }
    .contact_section .contact_form h1 {
      font-size: 25px;
      margin: 0; }
    .contact_section .contact_form .contacts .f-row h2 {
      font-size: 16px;
      margin-top: 20px; }
    .contact_section .contact_form .contacts .f-row input {
      width: 88%; }
    .contact_section .contact_form label {
      font-size: 12px;
      margin: 0px 0px 3px 0px; }
    .contact_section .contact_form .message-text {
      font-size: 20px; }
    .contact_section .contact_form .checkbox-all {
      margin-top: 0px; }

  #contact_section {
    padding-bottom: 0px; }

  #contact-form {
    margin-top: 25px; }

  #summary_section {
    margin-top: -155px; } }
.footer_space {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: #01282d;
  max-width: 100%;
  min-height: 130px;
  z-index: 99;
  padding: 0 180px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #ffffff;
  opacity: 0.9; }
  .footer_space #column-warranty {
    display: none; }
  .footer_space #column-support {
    display: none; }
  .footer_space .columns {
    font-size: 1.4em;
    font-family: 'Fahkwang';
    margin-bottom: 5px; }
    .footer_space .columns h2 {
      text-align: left;
      font: 500 30px/40px "Fahkwang";
      color: #fff980;
      opacity: 1;
      margin-top: 0; }
    .footer_space .columns span {
      color: #ffffff;
      display: block;
      font-style: normal;
      font: 17px/22px "Larken"; }
      .footer_space .columns span b {
        color: #fff980; }
      .footer_space .columns span img {
        position: absolute;
        margin-left: -40px; }

@media (max-width: 1151px) {
  .footer_space {
    padding: 0; } }
@media (max-width: 767px) {
  .footer_space {
    padding: 0 7px; }
    .footer_space #column-warranty {
      display: none; }
    .footer_space #column-support {
      display: none; }
    .footer_space #column-rull {
      margin-bottom: 10px; }
    .footer_space .columns h2 {
      font: 300 24px/15px "Fahkwang";
      margin-bottom: -0.7em; }
    .footer_space .columns span {
      font: 100 12px/13px "Fahkwang";
      margin-top: 0px; }
    .footer_space #column-rull {
      margin-top: 0px; } }
@media (max-width: 360px) {
  .footer_space .columns h2 {
    margin-bottom: 0.2em; }

  .footer_space #column-rull {
    margin-bottom: 0px; } }

/*# sourceMappingURL=index-1.css.map */
