@import url(//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);
@import url(//db.onlinewebfonts.com/c/64a2cfb57c4a5df1013e4f2e5bf3eff3?family=SF+Pro+Display);
@font-face {
  font-family: "Classica Pro";
  src: url("classica/ClassicaPro-Regular.ttf");
}

@font-face {
  font-family: "Classica Pro Demi";
  src: url("classica/ClassicaPro-Demi.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: left;
  font-size: 35px;
  font-family: "Classica Pro Demi";
  letter-spacing: 0px;
  color: #252525;
}

h3 {
  margin-top: 35px;
  color: #0d0d0d;
  font: 400 25px/30px "Classica Pro";
  text-transform: capitalize;
}

.lines {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background: #d1cdcd 0% 0% no-repeat padding-box;
  opacity: 1;
}

input {
  height: 35px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  color: #525252;
  font: 400 18px "SF Pro Display";
}

input:focus {
  outline: none;
  border-color: #cc8342;
}

.group {
  position: relative;
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.head {
  position: fixed;
  left: 0;
  top: 0;
  width: 65%;
  height: 100vh;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 99;
}

.head .d_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 290px;
  margin: 170px 0;
}

.head .d_images img {
  margin: -5px 50px;
}

.head .h_image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 40%;
  width: 626px;
  height: 626px;
  background: url("../img/Charlize-Three-Stone-Front-Grey-630x630@2x.png");
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.head .daimons_min {
  position: relative;
  width: 456px;
  height: 42px;
  margin: -40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head .daimons_min a {
  background: #000;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
  background: #f1f1f1;
}

.head .daimons_min a span {
  display: block;
  color: #a5a5a5;
  text-align: left;
  margin-bottom: 5px;
}

.head .daimons_min a:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 10%;
  border: none;
  border-top: 2px dashed #a5a5a5;
  height: 2px;
  width: 35%;
  z-index: 1;
}

.head .daimons_min a:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 70%;
  right: 10%;
  border: none;
  border-top: 2px dashed #a5a5a5;
  height: 2px;
  width: 35%;
  z-index: 1;
}

.main {
  position: relative;
  padding: 0;
  width: 83%;
  height: auto;
  margin: 155px 0px;
}

.main .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.main .blocks img {
  cursor: pointer;
  width: 85px;
  height: 85px;
  text-align: center;
  vertical-align: middle;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main .blocks .size {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5px;
  width: 55px;
  text-align: center;
  padding: 9px 0 9px 0;
  border: 1px solid #eeeeee;
  font: 400 16px "SF Pro Display";
  color: #525252;
  opacity: 0.7;
}

.main .blocks.cut_shape {
  margin-top: 20px;
  grid-auto-flow: dense;
  grid-gap: 35px;
}

.main .blocks.cut_shape img {
  width: 65px;
  height: 65px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main .certificates img {
  width: auto;
  height: 33px;
}

.main .personal_text span {
  margin: 10px 0 20px 0;
  display: block;
  width: 100%;
  font: 400 16px "SF Pro Display";
  letter-spacing: 0px;
  color: #525252;
}

.main .personal_text input {
  width: 60%;
}

.main .personal_text button {
  background: #cc8342;
  padding: 8px 34px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  font: 400 16px "SF Pro Display";
  color: #fff;
  cursor: pointer;
}

.main .jewerly_section .style_id {
  margin-top: 10px;
  width: 60%;
}

.main .jewerly_section .ring_sizes {
  margin-bottom: 20px;
}

.main .jewerly_section small {
  text-align: left;
  text-decoration: underline;
  font: 400 14px/16px "SF Pro Display";
  color: #525252;
}

.main .jewerly_section .metals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  gap: 30px;
}

.main .jewerly_section .metals div {
  width: 95px;
  height: 63px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.main .jewerly_section .ring_engraving span {
  margin: 10px 0 20px 0;
  display: block;
  width: 100%;
  font: 400 16px "SF Pro Display";
  letter-spacing: 0px;
  color: #525252;
}

.main .jewerly_section .ring_engraving input {
  width: 60%;
}

.main .jewerly_section .ring_engraving button {
  background: #cc8342;
  padding: 8px 34px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  font: 400 16px "SF Pro Display";
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .d_images img {
    margin: -5px 5px !important;
    width: 130px;
  }
}

@media (max-width: 1366px) {
  .d_images img {
    display: none !important;
  }
  .daimons_min {
    margin: 400px auto !important;
  }
  .group {
    -ms-grid-columns: 55% 45%;
        grid-template-columns: 55% 45%;
  }
  .head {
    width: 50%;
  }
}

@media (max-width: 1249px) {
  .footer_space {
    display: none !important;
  }
  .d_images img {
    display: none !important;
  }
  .daimons_min {
    margin: 400px auto !important;
  }
  .group {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .head {
    position: relative;
    width: 100%;
    margin-top: 310px;
    height: auto;
  }
  .head .h_image {
    top: 0;
  }
  .head .daimons_min {
    display: none;
  }
  .main {
    width: 85%;
    margin: 160px auto;
  }
  .jewerly_section {
    margin-top: 40px;
  }
}

@media (max-width: 655px) {
  .head {
    margin-top: 250px;
  }
  .head .h_image {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 500px) {
  .head {
    margin-top: 180px;
  }
  .head .h_image {
    width: 370px;
    height: 370px;
  }
  .diamond_section {
    margin-top: -100px;
  }
  .main {
    width: 90%;
  }
}

.headline {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 93px;
  width: 100%;
  background: #fff;
  color: #252525;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d1cdcd;
}

.headline a {
  text-decoration: none;
  color: #252525;
  cursor: pointer;
  font: 400 20px "SF Pro Display";
}

.headline h1 {
  font-family: "Classica Pro";
  font-size: 30px;
  color: #0d0d0d;
}

.headline .US {
  font: 600 20px "SF Pro Display";
}

.headline ion-icon {
  display: none;
}

@media (max-width: 1249px) {
  .headline {
    position: relative;
  }
}

@media (max-width: 650px) {
  .headline {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headline h1 {
    margin-left: 30px;
  }
  .headline .slaves {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
    width: 100%;
    opacity: 0;
  }
  .headline .slaves a {
    padding: 25px 30px;
  }
  .headline .slaves.active {
    height: auto;
    top: 80px;
    z-index: 999;
    opacity: 1;
    -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .headline .US {
    display: none;
  }
  .headline ion-icon {
    display: block;
    margin-right: 20px;
  }
}

.contact_section {
  position: relative;
  margin-top: -215px;
  width: 100%;
  height: auto;
  z-index: 999;
  opacity: 1;
  background: #fff;
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% auto;
      grid-template-columns: 55% auto;
}

.contact_section .contact_form {
  position: relative;
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_section .contact_form h1 {
  font-size: 35px;
  font-weight: 300;
  font-family: "SF Pro Display";
  color: #252525;
  margin: 0 0 46px 0;
}

.contact_section .contact_form label {
  display: block;
  text-align: left;
  font: 400 16px/21px "SF Pro Display";
  color: #525252;
  opacity: 1;
  margin: 10px 0 10px 0;
}

.contact_section .contact_form #message {
  width: 98%;
  height: 100px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  color: #525252;
  font: 400 18px "SF Pro Display";
}

.contact_section .contact_form #message:focus {
  outline: none;
  border-color: #cc8342;
}

.contact_section .contact_form .contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 6fr;
      grid-template-columns: 6fr 6fr;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.contact_section .contact_form .contacts .f-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_section .contact_form .contacts .f-row h2 {
  text-align: left;
  font: 500 25px/33px "SF Pro Display";
  color: #0d0d0d;
}

.contact_section .contact_form .contacts .f-row input {
  width: 96%;
  border-radius: 5px;
}

.contact_section .contact_form .contacts .f-row .s-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact_section .contact_form .contacts .f-row .s-row div {
  width: 49%;
}

.contact_section .contact_form .order-summary {
  margin-top: 34px;
  width: 435px;
  height: 55px;
  z-index: 99;
  border: 1px solid #cc8342;
  cursor: pointer;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 300 21px/28px "SF Pro Display";
  color: #cc8342;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.contact_section .contact_form .order-summary:focus {
  outline: none;
}

.contact_section .contact_form .message-text {
  text-align: left;
  font: 500 25px/33px "SF Pro Display";
  color: #0d0d0d;
  margin: 30px 0 18px 0;
}

.contact_section .contact_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section .contact_info img {
  width: 435px;
  height: 435px;
}

.contact_section .contact_info .all-info {
  margin-top: 20px;
  width: 435px;
  text-align: left;
  color: #525252;
  font-family: "SF Pro Display";
}

.contact_section .contact_info .checkbox-all {
  position: relative;
  margin-top: 20px;
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_section .contact_info .checkbox-all .checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.contact_section .contact_info .checkbox-all .checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.contact_section .contact_info .checkbox-all .checkbox-label input:checked ~ .checkbox-custom {
  background-color: #cc8342;
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  opacity: 1;
}

.contact_section .contact_info .checkbox-all .checkbox-label input:checked ~ .checkbox-custom:after {
  -webkit-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 4px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.contact_section .contact_info .checkbox-all .checkbox-label span {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: 2px solid #cc8342;
  border-radius: 3px;
}

.contact_section .contact_info .checkbox-all .checkbox-label span:after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  border-radius: 5px;
  border-width: 0 3px 3px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact_section .contact_info .checkbox-all span {
  width: 85%;
  display: inline;
  text-align: left;
  font: 500 14px/19px "SF Pro Display";
  color: #737373;
}

.contact_section .send_req {
  margin-top: 30px;
  width: 435px;
  height: 55px;
  z-index: 99;
  border: 1px solid #cc8342;
  cursor: pointer;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 300 21px/28px "SF Pro Display";
  color: #cc8342;
  text-transform: uppercase;
  color: #fff;
  background: #cc8342;
}

.contact_section .send_req:focus {
  outline: none;
}

@media (max-width: 1249px) {
  .contact_section {
    margin-top: -155px;
  }
}

@media (max-width: 990px) {
  .contact_info {
    display: none !important;
  }
  .contact_section .contact_form {
    margin-left: 20px;
    margin-right: 20px;
  }
  .contact_section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact_section .send_req {
    margin: 20px auto;
    border-radius: 1px;
  }
  .contact_section .contact_form .order-summary {
    margin: 0px auto;
  }
}

@media (max-width: 764px) {
  .contact_form .contacts {
    -ms-grid-columns: 12fr !important;
        grid-template-columns: 12fr !important;
  }
}

@media (max-width: 500px) {
  .contact_section .send_req {
    width: 100%;
  }
  .contact_section .order-summary {
    width: 100% !important;
  }
}

.footer_space {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: #201f1f;
  max-width: 100%;
  min-height: 130px;
  z-index: 99;
  padding: 0 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
}

.footer_space .columns h2 {
  text-align: left;
  font: 500 30px/40px "SF Pro Display";
  opacity: 1;
}

.footer_space .columns span {
  color: #c5c5c5;
  display: block;
  margin-top: 15px;
  font-style: normal;
  font: 300 17px/22px "SF Pro Display";
}

.footer_space .columns span b {
  color: #fe9b44;
}

.footer_space .columns span img {
  position: absolute;
  margin-left: -40px;
}

@media (max-width: 1500px) {
  .footer_space {
    padding: 0 60px;
  }
}

@media (max-width: 1245px) {
  .footer_space {
    padding: 0 30px;
  }
  .footer_space .columns h2 {
    font: 500 24px/36px "SF Pro Display";
  }
  .footer_space .columns span {
    font: 300 14px/18px "SF Pro Display";
  }
}
/*# sourceMappingURL=index.css.map */